captum==0.7.0
circuitsvis==1.43.3
einops==0.8.1
gender_guesser
graphviz
ipython
jaxtyping
matplotlib
names_dataset
nltk
numpy
pandas
plotly
PyYAML==6.0.2
scikit_learn==1.4.1.post1
setuptools==59.6.0
spacy
torch==2.3.1
tqdm==4.66.4
transformer_lens==2.15.0
transformers
typing_extensions
wandb
wget
spacy-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl